*  {
    font-family: "Montserrat";
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

#dummy {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: static;
  top: 10px;
}

h1 {
    font-weight: 480;
    font-size: 48px;
    margin: 0 0 16px 0;
}

a {
text-decoration: none;
color: black;
font-size: 24px;
}
p {
color: dimgrey;
margin: 0 0 16px 0;
font-size: 24px;
}

section {
    padding: 64px 128px;
}


.btn {
background-color: black;
color: white;
padding: 8px 24px ; 
margin: 0 0 16px 0;
}

.btn-alt {
background-color: white;
color: black;
margin-right: 10px;
border: 4px solid blue;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    top: 0;
    background-color: white;
}

#header h1 {
    margin: 0;
    animation:flash 1s infinite;
}

@keyframes flash {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

#landing {
    display: flex;
    margin-right: 100px;
    flex-direction: row-reverse; /* Reverse the flex direction */
    justify-content: space-between;
    align-items: center; /* Optional: Vertically center items */
    column-gap: 16px;
}
  

#landing p {
    margin-bottom: 40px;
    margin-left: 32px;
}

nav > a {
    margin-left: 23px;
    color: blue;
}

nav > a:hover {
  color: gray;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}
#about {
    width: 70%;
}
#about-stats {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    text-align: center;
    margin-top: 72px;
}

.about-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-stats-item div {
    width: 50px;
    height: 10px;
    background-color: greenyellow;
    margin-bottom: 12px;
}

#about-stats > div > div {
    width: 50px;
    height: 10px;
    background-color: greenyellow;
}

.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.service-detail {
    display: flex;
    gap: 20px; /* Atur jarak antara gambar dan teks */
    align-items: center;
  }

  .contact-detail {
   display: flex;
   justify-content: space-between;
   margin-top: 72px;
  }


  form {
    display: flex;
    flex-direction: column;
    border: 3px solid orange;
    padding: 32px 16px;
  }

  form h1 {
    font-size: 32px;
    text-align: center;
  }

  
  form button {
    border: none;
  }

  form button:hover {
    cursor: pointer;
  }

  
  .form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin-top: 32px;
    grid-template-areas:     "name subject"
                              "email phone"
                              "message message";
  }

  #input-name {
  grid-area: name;
  }

  #input-subject {
    grid-area: subject;
  }

  #input-email {
    grid-area: email;
  }

  #input-phone {
    grid-area: Phone;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .input-group label {
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 24px;
  }

  .input-group input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
  }

  footer {
    padding: 16px 128px;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer p {
  color: white;
  }

  @media only screen and ( max-width: 992px) {
    #header, #footer {
      padding: 16px 32px;
    }

    selection {
      padding: 64px 32px;
    }

    #landing {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    #landing > div {
      width: 100%;
    }
    #about {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    #about > div {
      width: 100%;
    }
    .service-detail {
      gap: 16px;
    }
    .contact-detail {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    }